<ion-header>
  <ion-navbar no-border-bottom>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      추가 기능
    </ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="etc">
      <ion-segment-button value="recommend" (click)="goNewView()">
        장소 추천
      </ion-segment-button>
      <ion-segment-button value="calendar">
        여행 날짜등록
      </ion-segment-button>
      <ion-segment-button value="contact">
        전화번호부
      </ion-segment-button>
      <ion-segment-button value="kakao" (click)="goNewView4()">
        카카오
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div [ngSwitch]="etc">
    <ion-item *ngSwitchCase="'calendar'">
      <ion-card ion-item *ngFor="let cal of calenlist">
        <img src={{cal.img}}/>
        <!-- <div class="card-title">{{cal.title}}</div>
    <div class="card-subtitle">{{cal.city}} and {{city.day}}</div> -->
        <div class="card-title">{{cal.title}}</div>
        <div class="card-subtitle">{{cal.day}}Day</div>
      </ion-card>
      <button ion-button block color="secondary" clear (click)="goNewView2()">
       <ion-icon	name='calendar'>날짜 등록하기</ion-icon>
     </button>
    </ion-item>

    <ion-item *ngSwitchCase="'recommend'">
      <button ion-item *ngFor="let weather of weatherList">
       <ion-thumbnail item-left>
         <img src="{{'http://openweathermap.org/img/w/'+weather.weather[0].icon+'.png'}}"	height=100}}>
       </ion-thumbnail>
           <h2>도시이름: {{weather.name}}</h2>
           <h4>날씨: {{weather.main.temp}}  습도: {{weather.main.humidity}} 바람세기: {{weather.wind.speed}}</h4>
     </button>
      <ion-item ion-label>
        놀러가기좋은도시: {{bestresult.name}}
        <button ion-button icon-only item-right (click)="infor()">
            <ion-icon name='alert'></ion-icon>
          </button>
      </ion-item>
    </ion-item>

    <ion-item *ngSwitchCase="'contact'">
      <button ion-item *ngFor="let c of contactlist" (click)="contectconnection(c)">
        <h4><ion-icon name={{c.typename}}></ion-icon>{{c.name}}</h4><h4> Tel: {{c.pnumber}}</h4>
     </button>
      <button ion-button block clear (click)="goNewView3()">
       <ion-icon	name='contact'>번호등록</ion-icon>
      </button>
      <p>
      </p>
      <button ion-button block color="secondary" clear (click)="pickcontact()">
        <ion-icon	name='contact'>전체번호 보기</ion-icon>
      </button>
    </ion-item>

  </div>
  <!-- <button (click) = "goNewView()">일기예보</button>
  <button (click) = "goNewView2()">켈린더테스트</button>
  <button (click) = "goNewView3()">알림</button>
  <button (click) = "goNewView4()">알림2</button>
  <button (click) = "goNewView5()">dbtest</button> -->
</ion-content>
